body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: "Merriweather",Georgia,serif;
    font-size: 14px;
    line-height: 1.7;
}

.container {
    margin: 0 auto;
    max-width: 630px;
}

.widget {
    display: inline-block;
}

div[data-widget] {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
}

div[data-widget]:last-child {
    margin-right: 0;
}
